body {
    margin: 10px;
}

path {
    stroke: #fff;
}

path:hover {
    opacity: 0.9;
}

rect:hover {
    fill: #3881c7;
}

.axis {
    font: 12px sans-serif;
    font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.grid path {
    stroke-width: 0;
}

#bottomTable td, #bottomTable th {
    text-align: center;
    vertical-align: middle;
}

.line {
    fill: none;
    stroke: #b40416;
    stroke-width: 2px;
}

.bottom-table th, .bottom-table td {
    text-align: center;
}

.chart-container {
    font-size: 12px;
    overflow: auto;
}

.chart-container svg table td:first-child, .chart-container svg table th:first-child {
    width: 91px !important;
    font-weight: bold;
}

.chart-container svg table td div {
    text-align: left;
}

.chart-container svg table p {
    text-align: left;
}

.chart-container .row-key {
    width: 20px;
    display: inline-block;
}

.chart-container .row-value {
    display: inline-block;
}

.top-paragraph .col-xs-2 {
    position: static;
}

.bottom-table tr, .bottom-table td, .bottom-table th {
    border: 2px solid #000000 !important;
}

.bottom-table th {
    padding-bottom: 30px !important;
}

.bottom-table tr > th:nth-child(1) {
    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
}

.bottom-table tr:nth-child(4) td:nth-child(1) {
    border-bottom: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
}

.chart-container table td, .chart-container table th {
    word-break: break-all;
}

.right-table {
    text-align: left !important;
}

.right-table td, .right-table th {
    border: 1px solid #000000 !important;
    border-collapse: collapse;
}